//Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;


//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop:1024px;


//Colores
$primario: #7CAC41;
$secundario: #54a634;
$terciario: #97b462;
$negro: #000;
$blanco:#fff;
$verdeOscuro: #04441C;
$verdeBiche: #455d27;
$cardSola1: #8CA460;
$cardSola2: #cce1a2;
$cardSola3: #378C7B;
$cardSola4: #085325;
$backgroundSection: #E1F1C1;