@use 'base/variables' as v;
@use 'base/mixins' as m;

.videos{
    padding: 3rem 3rem;
    width: 100%;
    @include m.tablet{
      width: 100%;
      padding: 3rem 7rem;
    }
    .containerSerie{
      margin: 3rem 0;
      width: 100%;
      // .serie{
      //   display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // }
      .serie{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .carrusel{
          img{
            width: 100%;
          }
          p{
            font-size: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            padding: 1.2rem 1rem;
          }
        }
      }
      h2{
        font-weight:lighter ;
        font-size: 2rem;
        color: v.$verdeOscuro;
        margin-bottom: .5rem;
      }
      
    }

        
}

.slick-initialized .slick-slide{
  padding-left: .5rem;
  &:first-of-type{
    padding-left: 0rem;
  }
}

.containerVideoIframe{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  @include m.tablet{
    padding: 2rem 7rem;
  }
  &:hover{
    cursor: pointer;
  }
  .carrusel{
    height: 35vh;
    border-radius: .5rem;
    @include m.telefono{
      height: 40vh;
      border-radius: 1rem;
    }
    @include m.tablet{
      height: 80vh;
    }
  }
  h3{
    color: v.$verdeOscuro;
    padding: 1rem;
    text-align: center;
  }
}

.spinnerSection{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.imgVideo{
  border-radius: .5rem;
}


