@use "base/variables" as v;
@use "base/mixins" as m;




.containerBienvenida{
    .containerImgBgHome{
        position: relative;
        height: 80vh;
        @include m.telefono{
            height: 100vh;
        }
        .backgroundHome{
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 80vh;
            @include m.telefono{
                height: 100vh;
            }
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            @include m.telefono{
                bottom: 0;
            }
        }

        &.solas{
            &::before{
                background: rgba(0, 0, 0, 0.5);
            }
        }

        &.sermones{
            height: 70vh;
            .backgroundHome{
                height: 70vh;
            }
        }
    }
    .containerTextoBienvenida{
        position: absolute;
        top: 30%;
        max-width: 90%;
        padding-left: 2rem;
        @include m.telefono{
            top:40%;
        }
        @include m.tablet{
            max-width: 50%;
            padding-left: 7rem;
        }
        &.solas{
            top: 60%;
            padding: 2rem;
            margin-left: 2rem;
            border-radius: 1rem;
            background-color: rgba($color: v.$primario, $alpha: 0.7);
            @include m.telefono{
                top: 75%;
            }
            @include m.tablet{
                max-width: 75%;
                margin-left: 7rem;
            }
            @include m.desktop{
                max-width: 65%;
            }
            
        }
        
        .tituloBienvenida{
            width: 100%;
            color: v.$blanco;
            text-align: left;
            font-size: 3.5rem;
            margin: 0;
            @include m.telefono{
                font-size: 5rem;
            }
            @include m.desktop{
                font-size: 7rem;
            }
        };
        .textoBienvenida{
            position: relative;
            color: v.$blanco;
            font-size: 1.5rem;
            font-weight: lighter;
            line-height: 2.7rem;
            width: 100%;
            text-align: left;
            @include m.tablet{
                font-size: 2.5rem;
            }

            &.solas{
                margin: 0;
                @include m.telefono{
                    font-size: 2rem;
                }
                @include m.tablet{
                    font-size: 2.5rem;
                }
                .encabezado{
                    position:absolute;
                    right: 0;
                    &:hover{
                        color: v.$verdeBiche;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

